<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<link rel="stylesheet" href="/stylesheets/knockout.css" />
</head>
<body>

Examples

<div class="meetupContainer">
	<ul>
		<li><a href="/basic">Basic: Just read</a>
		<li><a href="/intermediate">(soon) Intermediate: Read, create new</a>
		<li><a href="/advanced">(soon) Advanced: Read, create new and edit existing</a>
		<li><a href="/full">(WIP) Full: some extra features</a>
	</ul>
</div>

</body>
</html>