<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<link rel="stylesheet" href="/stylesheets/knockout.css" />
</head>
<body>

Examples

<div class="meetupContainer">
	<ul>
		<li><a href="/basic">Basic: Just read</a>
		<li><a href="/intermediate">Intermediate: Read, create new</a>
		<li><a href="/advanced">Advanced: Read, create new and edit existing</a>
	</ul>
</div>

</body>
</html>