/*@errorBackground: #FFFFCC;*/
.border {
  border: 1px solid #e5e5e5;
}
a:link {
  color: #ffffff;
  text-decoration: none;
}
/* unvisited link */
a:visited {
  color: #ffffff;
}
/* visited link */
a:hover {
  color: orange;
}
/* mouse over link */
a:active {
  color: blue;
}
/* selected link */
body {
  padding: 30px;
  padding-top: 15px;
  font: 14px Helvetica, Arial, sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.validationElement {
  background: #f2dede !important;
  color: #b94a48 !important;
}
.validationElement:-moz-placeholder {
  color: #b94a48;
}
.validationElement:-ms-input-placeholder {
  color: #b94a48;
}
.validationElement::-webkit-input-placeholder {
  color: #b94a48;
}
.meetupContainer {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background: #777777;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
}
.newMeetup {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #e5e5e5;
  /*background: orange;*/

  background: white;
  color: white;
  padding: 20px;
  /*margin: 10px;*/

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
