body {
  padding: 30px;
  padding-top: 15px;
  font: 14px Helvetica, Arial, sans-serif;
}
a:link {
  color: #ffffff;
  text-decoration: none;
}
/* unvisited link */
a:visited {
  color: #ffffff;
}
/* visited link */
a:hover {
  color: orange;
}
/* mouse over link */
a:active {
  color: blue;
}
/* selected link */
.meetupContainer {
  -webkit-border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  background: green;
  color: white;
  padding: 10px;
  margin: 10px;
}
.newMeetup {
  -webkit-border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  background: orange;
  color: white;
  padding: 10px;
  margin: 10px;
}
.deleteAll {
  -webkit-border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  background: red;
  color: white;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
}
input {
  /*border-color: transparent;*/

  /*background: #fff;*/

  /*color: #888;*/

  /*.rounded(3px);*/

}
